div#root {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  background: #e2e1e1;

  main {
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    background: white;
    max-width: 90%;
    width: 90%;
    padding: 1rem;

    .timer-row {
      color: green;
      display: flex;
      flex: 1;
      justify-content: flex-start;
      flex-wrap: nowrap;

      &.negative {
        color: red;
      }

      .counter {
        font-size: 2.2rem;
        padding: 0 1rem;
        line-height: 2.5rem;
        justify-content: center;
        flex: 1;
      }

      .counter-status {
        font-size: 1rem;
        flex: 1;
      }

      .counter-id > span {
        min-width: 2rem;
        text-align: center;
      }

      & > div {
        display: flex;
        align-items: center;
        border-radius: 0.2rem;
        background: #f0f0f0;
        position: relative;
        margin: 0.3rem 0.1rem;
        border: 0.1rem solid silver;
        padding: 0.3rem 1rem;
        font-size: 1rem;

        & > small {
          border-radius: 0.2rem;
          font-size: 0.7rem;
          line-height: 1rem;
          background: white;
          position: absolute;
          left: 0.3rem;
          top: -0.5rem;
          padding: 0 0.3rem;
        }
      }
    }
  }
}

.control-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .control-buttons {
    white-space: nowrap;

    & > button:not(:first-child) {
      margin-left: 0.1rem;
    }
  }

  & > *:not(:first-child) {
    margin-left: 0.1rem;
  }

  .global-state {
    background: #646464;
    color: white;
    line-height: 2rem;
    padding: 0 1rem;
    margin-left: 1rem;
  }

  .time-picker {
    min-width: 6rem;
  }
}
