div#root {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  flex: 1;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  background: #e2e1e1;

  main {
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    background: white;
    max-width: 60%;
    width: 60%;
    padding: 1rem;
  }
}

.control-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > *:not(:first-child) {
    margin-left: 2px;
  }

  .time-picker {
    min-width: 6rem;
  }
  .control-buttons {
    white-space: nowrap;
    & > button:not(:first-child) {
      margin-left: 2px;
    }
  }
}
